*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 100vw;
}

:root{
    --whitesmoke: #EEEEEE;
    --black: black;
    --grey: rgb(102, 102, 102);
    --dark-grey: rgb(36, 36, 36);
}

*::selection{
    background-color: rgba(0, 0, 0, 0.15);
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--whitesmoke);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--black);
    
  }

/*Index*/

header{
    width: 100vw;
    height: 20vh;
    position: fixed;
    transition: .5s;
}

.header-active{
    height: 90vh;
}

.header-top{
    width: 100vw;
    height: calc(100% - 4rem);
    border-bottom: .4rem var(--black) solid;
    background-color: var(--whitesmoke);
    transition: .5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header-top a{
    font-size: 2.2rem;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.header-top a:hover{
    color: var(--grey);
}

.a-hidden{
    visibility: hidden;
    opacity: 0;
}

.header-img{
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--black);
    top: calc(100% - 6.5rem);
    left: calc(50vw - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-img img{
    width: 60%;
    height: auto;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: var(--whitesmoke);
}

#introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introduction h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 0 2rem;
    font-weight: bolder;
    padding-top: 10vh;
}

#introduction button{
    color: var(--whitesmoke);
    background-color: black;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-top: 4rem;
    font-weight: 400;
    cursor: pointer;
    transition: .5s;
    border: .3rem var(--black) solid;
}

#introduction button:hover{
    background-color: var(--whitesmoke);
    color: var(--black);
}

/*About us*/

#about-us{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about-us h2, #about-course h2{
    color: var(--whitesmoke);
    padding-top: 20vh;
    font-size: 2rem;
    text-align: center;
}

#about-us p{
    color: var(--whitesmoke);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 2rem;
}

.about-us-controls{
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls-circles{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls-circle{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: var(--whitesmoke);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-inside{
    background-color: black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.circle-inside:hover{
    background-color: var(--dark-grey);
}

.about-us-controls img{
    height: 15vw;
    width: auto;
    filter: invert(100);
    transition: .5s;
    opacity: .5;
    cursor: pointer;
}

.left-arrow, .about-course-left-arrow{
    transform: scaleX(-1);
}

.about-us-controls img:hover{
    opacity: 1;
}

.circle-selected{
    background-color:var(--whitesmoke) !important;
}

/*About course*/

#about-course{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-course-h2{
    color: var(--black) !important;
}

.course-information{
    background-color: black;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.course-information-title{
    color: var(--whitesmoke) !important;
    padding-top: 1.5rem !important;
}


.course-information-text{
    background-color: var(--whitesmoke);
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-information-text p{
    text-align: center;
    margin: 0 2rem;
    font-size: 1.4rem;
}

.course-information-text h2{
    color: var(--black) !important;
    display: none;
}

.about-course-controls{
    height: 3rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-course-controls img{
    height: 80%;
    width: auto;
    filter: invert(80);
}

.course-information-index{
    font-size: 2rem;
    font-weight: bold;
    color: var(--whitesmoke);
}

.about-course-controls-computer{
    display: none;
}

/*----------Responsive----------*/

@media (min-width: 1000px){

    /*Index*/

    h1{
        font-size: 3.5rem !important;
    }

    .header-top{
        height: calc(100% - 2rem);
        flex-direction: row;
    }

    .header-top a {
        font-size: 2rem;
    }

    .header-img{
        top: calc(100% - 5rem);
        width: 6rem;
        height: 6rem;
    }

    .a-hidden{
        visibility: visible;
        opacity: 1;
    }

    /*About us*/

    #about-us h2{
        font-size: 3rem;
    }

    #about-us p{
        font-size: 2rem;
        margin: 0 5rem;
    }

    .about-us-controls img{
        height: 6rem;
    }

    .about-us-controls{
        width: 80vw;
        margin-left: 10vw;
    }

    .controls-circle{
        width: 3rem;
        height: 3rem;
    }

    /*About course*/

    #about-course{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20vh;
        height: 80vh;
    }

    .about-course-h2{
        display: none;
    }

    .course-information{
        background-color: black;
        width: 80vw;    
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-course-controls{
        display: none;
    }

    .course-information-text{
        align-items: center;
        width: 50vw;
    }

    .course-information-text h2{
        display: block;
        padding-top: 0 !important;
    }

    .course-information-text p{
        padding-top: 2rem;
    }

    .course-information-title{
        display: none;
    }

    .module-btn{
        width: 20vw;
        height: calc(45.5vh/5);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: var(--black);
        color: var(--whitesmoke);
        transition: .5s;
    }

    .module-btn:hover{
        background-color: var(--dark-grey);
    }

    .module-btn-selected{
        background-color: var(--whitesmoke) !important;
        color: var(--black);
    }

    .module-btn p{
        font-size: 1.3rem;
        font-weight: bold;
    }

    .about-course-controls-computer{
        display: flex;
        flex-direction: column;
    }
}